extends layout

block content
  h1= title
  - let items = results 
  div(class="container-fluid")
    div(class="row")
      each jacket,index in results
        div(class="col-sm-2")
          h6 Jacket #{index + 1}
          p #{jacket.size} - #{jacket.colour} - #{jacket.price}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy
  
  script. 
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }