extends layout

block content 
  h1= title 

  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let jacketid = toShow._id 
    - let size = toShow.size 
    - let colour = toShow.colour
    - let price = toShow.price 
    - let actionid = "/resource/jackets/" + jacketid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='jacketAttr mr-3') Jacket ID is: 
        div #{jacketid} 
      div.row 
        div(class='jacketAttr mr-3') Jacket Size is: 
        div #{size} 
      div.row 
        div(class='jacketAttr mr-3') Jacket Colour is: 
        div #{colour} 
      div.row 
        div(class='jacketAttr mr-3') Jacket Price is: 
        div #{price} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 

  script. 
    function cancel() { 
      // Go back to the home page for the jacket collection 
      window.location.href='/jacket' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'     
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/jacket' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 